@keyframes run {
    0% { transform: translateX(0); }
    100% { transform: translateX(-300px); }
  }

@keyframes grow {
    0% { font-size: 21px; }
    100% { font-size: 100px; }
  }

@font-face {
    font-family: myFont;
    src: url(shf.ttf);
} 

  .glow {
    font-family: 'Pacifico', "Roboto", sans-serif;
    transition: text-shadow 3s ease-in-out;
  }
  
  .glow:hover {
    text-shadow: 0 0 15px rgb(0, 251, 255);
  }
  
  .hover-effect:hover {
    cursor: pointer;
  }
  
  .grow:hover {
    animation: grow 3s ease-in-out;
  }
  
  .run:hover {
    animation: run 3s ease-in-out;
  }
  
  body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
  }
  
  .hover-effect {
    font-size: 21px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
  }

  .run {
    font-family: "fastpen",'Dancing Script', "Roboto", sans-serif;
    color:rgb(255, 217, 0);
  }
  .grow {
    font-family: myFont,'Single Day', "Roboto", sans-serif;
    color:rgb(0, 137, 80);
  }
  .glow {
    color:rgb(6, 226, 255);
  }

